.movies-list{
    text-align: center;
    background-image: linear-gradient(to right, rgb(183, 169, 199),rgb(151, 88, 175));
    
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: black;
    font-weight: 200;
}
.movies-list img{
    width: 40%;
    height: 30%;
}

.btn-cart{
    background-color: rgb(214, 182, 102);
    width: 150px;
    height: 25px;
    border:1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}