.movie-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.filmlist-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    border-right: 1px solid lightgray;
    margin-right: 5px;
    margin-left:50px;
}